{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Cataloging System</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <div class="outer-container">
        <!--Create the Header Bar-->
        <div class="header-bar">
            <nav class="nav">
                <div class="logo">
                  <img src="../static/logo.png" class="center" width="80" height="80">
                    
                </div>
                <h1>Twitter Cataloging System</h1>
                
                <div class="nav-items">
                    <ul>
                      <li><a href="{{ url_for('register') }}">Register</a></li>
                      <li><a href="{{ url_for('home') }}">Login</a></li>
                      <li><a href="{{ url_for('catalog') }}">Catalogue</a></li>
                      <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                      <li><a href="{{ url_for('upload') }}">Upload</a></li>
                      <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div> <!-- End of Header Bar-->

        <div class="inner-container">
            <!-- Create the side bar-->
            {% block sidebar %}
            <div class="sidebar">
                
                <div class="icon">
                    <img src="static/human_icon.png" class="center" width="100" height="100">
                    {% if session["username"] %}
                      <p>My id is: <br>
                       <b>{{ session["username"] }}</b></p>
                    {% else %}
                      <p>Unknown ID</p>
                    {% endif %}
                      <p>My role is a cataloger</p>
                </div>         
                    
            </div> <!-- End of sidebar-->
            {% endblock %}   

            {% block content %}
            <div class="uploadContainer"> <!-- upload form container -->
               
                <h1>Upload Twitter Catalog Data</h1>

                <div class="uploader">
                    <p>Upload CSV file</p>
                    <form action="{{ url_for('upload') }}" method="POST">
                        <input type="file" class="uploadBtn" value="Choose File" id="upload" name="filename">
                        <button type="submit" class="submit">upload</button>
                    </form>
                </div>
                
            </div> <!-- End of upload form container-->
            {% endblock %}
        </div> <!-- End of inner-container-->
    </div> <!-- End of outer-container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>